.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.1rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-image: url("/assets/img/icons/icons-three-dots.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header .title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.info p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.2rem;
  font-size: 1rem;
}

.info p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}

.info .job::before {
  background-image: url("/assets/img/icons/profile-svgrepo-com.svg");
}

.info a {
  color: #fff;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
  font-family: 700;
}

.info .location::before {
  background-image: url("/assets/img/icons/pin-svgrepo-com.svg");
}

.info .phone::before {
  background-image: url("/assets/img/icons/whatsapp-svgrepo-com.svg");
}

.info .email::before {
  background-image: url("/assets/img/icons/mail-svgrepo-com.svg");
}

@media only screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-areas: "photo title" "photo info";
  }

  .header .photo {
    grid-area: photo;
    margin: 0 auto;
  }

  .header .title {
    grid-area: title;
    text-align: start;
    max-width: 200px;
  }

  .header .info {
    grid-area: info;
  }
}
